/* font-family: 'Dongle', sans-serif;
font-family: 'Gluten', cursive;
font-family: 'Libre Barcode EAN13 Text', cursive;
font-family: 'Rampart One', cursive; */

body {
  margin: 0;
  background-color: #31572C;
}


#header {
  font-family: 'Gluten';
  color: white;
}

#footer {
  background-color: #90A955;
  height: 100px;
}

.App-header {
  background-color: #31572C;
}
